-# index.haml
%body(lang="en")
  .container
    #header
      .row
        .three.columns
          %h1 FoodSnap.in
        .nine.columns
          %p Alpha
      .row
        %h4 Let's find food value together!

    #main
      .row
        .four.columns
          %img{:alt => "Share Food Pics!", :src => "images/foodsnap1.png"}/
          %p Get in touch with your friends! See what they're eating!

        .four.columns
          %img{:alt => "Snap Your Food !", :src => "images/foodsnap2.png"}/
          %p Share what you're eating!

        .four.columns
          %h4 Get in touch!
          %a.nice.button Be a beta tester (limited slots)!
      .row
        %h4 Simple yet amazing.
        %h3 Share not just food.  Share Value.
        
    #footer
      .row
        %hr
        %p Awesome Footer
