-# index.haml
%body(lang="en")
  .container
    .row
      %h1 FoodSnap.in
      %h4 Welcome! Nothing here yet. Under development
      %hr
      %p Of course, if you're really curious...just wait a  week. ;)
