-# index.haml
%body(lang="en")
  .container
    #header
      .row
        .three.columns
          %h1 FoodSnap.in
        .nine.columns
          %p Alpha
      .row
        %h3 Share food.  Share Value.
        %p

    .container
      #main
        .row
          .four.columns
            %p
            %img{:alt => "Share Food Pics!", :src => "images/foodsnap1.png"}/

          .four.columns
            %p
            %img{:alt => "Snap Your Food !", :src => "images/foodsnap2.png"}/

          .four.columns
            %p
            %img{:alt => "Snap Your Food !", :src => "images/foodsnap2.png"}/
        .row
          %h4 Coming Soon in the App Store!
        
    #footer
      .row
        %hr
        %p More info coming soon! 
