-# Layout.haml (encapsulates every rendered haml-file)
!!! 5
%html
	%head
		%title FoodSnap.in  (Alpha 01)
		%link(rel="stylesheet" type="text/css" href="stylesheets/foundation.css")
		%link(rel="stylesheet" type="text/css" href="stylesheets/app.css")
		
		
	= yield
